[Unit]
Description=Periodically run data producer
After=network.target
StartLimitIntervalSec=0
Wants=produce.timer

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=make --directory /home/ubuntu/stock-monitor-monorepo produce

[Install]
WantedBy=multi-user.target